<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <title>REF-ORG</title>
  <meta charset="UTF-8">
  <title>Cifra de Cesar</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">

  <script>window.$ = window.jQuery = require('jquery');</script>
  <script src="../js/bootstrap.min.js"></script>

</head>

<body onload="listaCitacoes()">
  <div class="window">
    <div class="window-content">
      <div class="container2">
        <div class="row">
          <div role="nav-vertical" class="col-3">
            <ul class="nav flex-column">
              <li class="nav-item mt-3">
                <a class="nav-link" href="m-bibliografia.html"><i class="fas fa-book fa-lg mr-3"></i>Minha
                  bibliografia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href=""><i class="fas fa-quote-left fa-lg mr-3"></i>Minhas referências
                  citadas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="p-citacoes.html"><i class="fas fa-quote-right fa-lg mr-3"></i>Possíveis
                  citações</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sobre.html"><i class="fas fa-question-circle fa-lg mr-3"></i>Sobre este
                  software</a>
            </ul>
          </div>
          <div role="conteudo" class="col-9">
            <div class="container">
              <h3 class="mt-3">Adicionar referência</h3>
              <form class="text-center">
                <div class="form-group">
                  <textarea class="form-control mt-2" id="txtReferenciac" rows="3"
                    placeholder="Digite a citação aqui"></textarea>
                </div>
                <div class="form-group">
                  <textarea class="form-control mt-2" id="txtCitacao" rows="2"
                    placeholder="Digite a referência da citação aqui"></textarea>
                </div>
                <button class="btn btn-one btn-lg" onclick="adicionarCitacoes()">Adicionar</button>
              </form>

              <h3 class="mt-3">Citações</h3>

              <div id="citacoes"></div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script>
    require('./js/renderer.js')
  </script>
  <script type="text/javascript" src="../functions-bd.js"></script>
  <script type="text/javascript" src="../js/functions.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
    integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
    crossorigin="anonymous"></script>
</body>

</html>